.nav{
    outline: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.menu{
    outline: 1px solid green;
    padding: 20px 20px;
}

.menu a{
    margin-left: 80px
}

.ai{
    display: flex;
    justify-content: center;
    padding: 50px 0px ;
    outline: 1px solid red;
    display: none;
}

.inhome a, .inproduct a, .inservice a, .inaboutme a{
    margin-right: 70px;
    font-size: 20px;
}